.collapsible {
    padding: 0!important;
    margin: 0!important;
    list-style: none!important;
    box-shadow: none!important;
    
    li {
        list-style-type: none!important;
        border-top: 1px solid @blue;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        margin-bottom: 15px;
        box-shadow: 0 5px 0 @orange;
        
        .collapsible-header {
            cursor: pointer;
            display: flex;
            align-items: center;
            line-height: 1.5;
            padding: 15px;
            background-color: @white;
            border: 0;
            transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
            width: 100%;

            h2,h3 {
                margin: 0!important;
                text-align: left;
                width: 100%;
                color: @blue;
                font-size: 30px;
    
                .col,
                .sqs-layout .sqs-row .sqs-block {
                    padding: 0!important;
                }
                .collapsibleTitle {
                    width: 100%;
                    text-align: left;
                    transition: all .3s ease-in-out;
                    * {
                        color: white;
                    }
                }
            }
            i {
                font-size: 25px;
                margin: 0!important;
                transition: all .3s ease-in-out;
                color: @blue;
            }
            &:hover,
            &:focus {
                background-color: @bgOverlay;
                text-decoration: none!important;
                outline: none;
            }
            .active {
                text-decoration: none!important;
                outline: none;
            }
        }
        .collapsible-body {
            display: none;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 20px 20px 10px;
            background-color: @bgOverlay;
            border-top: 1px solid @ltBlue;

            li {
                list-style-type: disc;
            }
            .sqs-block {
                padding-bottom: 0!important;
                
                &:first-child {
                    padding-top: 0!important;
                }
                &:last-child {
                }
            }
            .imgFilter {
                display: flex;
            }
            .filterText {
                margin-bottom: 0!important;
            }
        }
    }
}
.sqs-gallery-design-grid {
    display: flex;
    flex-wrap: wrap;
    
    a {
        padding: 0!important;
        height: fit-content!important;
        
        img {
            display: block!important;
            position: static!important;
            width: 100%!important;
            height: auto!important;
            border-radius: 5px;
        }
    }
    .image-slide-title {
        display: none!important;
    }
}
@media only screen and (max-width: 500px) {
    .calculators .collapsible {
        padding-left: 0!important;
        border: none!important;
        box-shadow: none;
    }
    .collapsible-header {
        padding: .5rem;
    }
    .collapsible-header h3 {
        font-size: 20px;
    }
    .collapsible-body {
        padding: 10px!important;
    }
    .calc-container {
        padding: 5px;
    }
}


.sqs-block-summary-v2 {
            
    .summary-item-list {
        display: flex;
        flex-wrap: wrap;
        
        .summary-item {
            height: fit-content;
            width: 16.6666%;
            
            a.summary-thumbnail-container {
                .img-wrapper {
                    padding: 0!important;
                    
                    img {
                        display: block;
                        position: static!important;
                        width: 100%!important;
                        height: auto!important;
                    }
                }
            }
        }
    }
}