/* keeps all words from breaking/hyphenating throughout the site*/
p, h1, h2 {
    -webkit-hyphens: manual !important;
       -moz-hyphens: manual !important;
        -ms-hyphens: manual !important;
            hyphens: manual !important;
  }

/* Hides the login form on the search pages */
.hideLoginForm
{
    display: none !important;
    visibility: hidden !important;
}
