.Mobile-overlay {
    * {
        outline: none!important;
    }
    button, a {
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    .Mobile-overlay-close {
        &:hover,
        &:focus {
            background: white;
            stroke: @blue;
        }
    }
}
.notVisible {
    display: none!important;
}
.Mobile-bar--top {
    padding-top: 0!important;
    padding-bottom: 0!important;

    .Mobile-bar-search,
    .Mobile-bar-menu {
        &:hover,
        &:focus {
            stroke: @orange!important;
        }
    }
}
.Header--top {
    box-shadow: 0 3px 5px @blue;
    position: relative;
    z-index: 11;

    div[data-nc-container="top-left"] {
        display: flex!important;
    }
}
.Header--bottom {
    // background: @tweak-header-bottom-color!important;
    background-image: linear-gradient(to bottom, white, transparent)!important;
    top: 0;
    left: 0;
    width: 100%;
    // padding: 0 5vw;

    .Header-inner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Header-branding {
        order: 1!important;
        margin-right: 30px;
    }
      
}
.Header-nav--primary .Header-nav-folder-title:hover,
.Header-nav--primary .Header-nav-folder-title:focus,
.Header-nav--primary .Header-nav-folder-title--active,
.Header-nav--primary .Header-nav-item:hover,
.Header-nav--primary .Header-nav-item:focus,
.Header-nav--primary .Header-nav-item--active,
.Header-nav--primary .Header-nav-folder-item:hover,
.Header-nav--primary .Header-nav-folder-item:focus,
.Header-nav--primary .Header-nav-folder-item--active {
    text-decoration: underline;
    -webkit-text-decoration-color: @orange; /* Safari */  
    text-decoration-color: @orange;
}
.Header-nav-item:first-child .Header-nav-folder {
    // margin-left: -20px;
}