#hero {
    // min-height: calc(~"100vh - 52px")!important;
    min-height: 72vh !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
    .Index-page-content {
        padding: 300px 0 80px;
        margin: 0!important;
        background-image: linear-gradient(to top, white 0%, transparent);
        
        .col, .sqs-block {
            padding: 0!important;
            text-align: center;
        }
        h1 {
            font-size: 60px;
            text-shadow: 0 2px 7px white;
            margin-bottom: 30px;
        }
        p {
            margin: -10px 0 30px;
            font-size: 20px;
        }
    }
}