:root {
    --cardTopPadding: 10px;
}
#test-cards {
    overflow: clip;

    .sqs-gallery {
        max-width: 1400px;
        margin: 0 auto;
        
        .cardWrapper {
            width: 100%;
            z-index: 1;
            position: sticky;
            transition: all 0.3s ease;
            top: 100px;
            padding-top: calc(~"var(--index) * var(--cardTopPadding)");

            .card {
                display: flex;
                gap: 50px;
                align-items: flex-start;
                justify-content: center;
                padding: 50px;
                width: 100%;
                background-color: @bgOverlay;
                border-radius: 5px;

                &:nth-child(3n + 1) {
                    box-shadow: 0px 0px 8px rgba(0,0,0,.2), 10px 10px 0 @drkOrange;

                    .slideImgWrap::before {
                        background-color: @drkOrange;
                    }
                }
                &:nth-child(3n + 2) {
                    box-shadow: 0px 0px 8px rgba(0,0,0,.2), 10px 10px 0 @ltBlue;
                    
                    .slideImgWrap::before {
                        background-color: @ltBlue;
                    }
                }
                &:nth-child(3n + 3) {
                    box-shadow: 0px 0px 8px rgba(0,0,0,.2), 10px 10px 0 @green;
                    
                    .slideImgWrap::before {
                        background-color: @green;
                    }
                }
            }
        }
    }
}











.spacer, .after-scroll {
    padding: 2rem;
    background: #f0f0f0;
    text-align: center;
}
.snap-section {
    height: 500px;
    width: 100%;
    z-index: 1;
    position: sticky;
    transition: all 0.3s ease;
    top: 100px;
    padding-top: calc(~"var(--index) * var(--cardTopPadding)");

    .sectionContent {
        width: 100%;
        height: 100%;
        color: white;
        font-size: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
    }
}
.snap-section:nth-child(1) {
    z-index: 1;
    --index: 0;
    .sectionContent {
        background: #ff6f61; 
    }
}
.snap-section:nth-child(2) { 
    z-index: 2;
    --index: 2;
    .sectionContent {
        background: #6b5b95; 
    }
}
.snap-section:nth-child(3) { 
    z-index: 3;
    --index: 4;
    .sectionContent {
        background: #88b04b; 
    }
}
.snap-section:nth-child(4) { 
    z-index: 4;
    --index: 6;
    .sectionContent {
        background: #0f4c75; 
    }
}