// Icon fix for squarespace interface
.sqs-blockicon-content {
    min-height:60px;
}
.sqs-layout-insert-block-menu .sqs-blockicon .label {
    max-height:30px !important;
    padding-top:35px !important;
    overflow:visible !important;
}

@blue: #344d87;
@darkBlue: #273d71;
@orange: #ec862d;
@drkOrange: #dd6a14;
@ltBlue: #58a6dc;
@green: #b4d85b;
@transparent: rgba(255,255,255, .9);
@shadow: rgba(0,0,0, .5);
@black: #000;
@white: #fff;
@bgOverlay: #f5f6f9;

* {
    box-sizing: border-box!important;
    -webkit-hyphens: none!important;
    -ms-hyphens: none!important;
    hyphens: none!important;
}
html {
    scroll-behavior: smooth!important;

    body {
        overflow-x: hidden;
        font-family: "gotham";
        font-weight: normal;
        line-height: 1.5;
        background-color: white!important;
    
        b,
        strong {
            font-weight: bold;
        }
        h4 {
            color: @blue;
            font-family: oswald!important;
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: -.02em;
            font-weight: 600;
            margin: 0;
            line-height: 1.2;
        }
        &.noIntro {
            .Header--bottom {
                background: transparent!important;
            }
            .Content-outer {
                padding-top: 150px;
            }
        }
    }
}
.Parallax-host-outer {
    display: block;
    z-index: -10!important;

    * {
        z-index: -10!important;
        will-change: auto!important;
    }
}
.cf {
    clear: both;
}
.grow {
    transition: all .2s ease-in-out!important;
    -webkit-transition: all .2s ease-in-out!important;
}
.grow:hover,
.grow:focus {
    transform: scale(1.1)!important;
    -webkit-transform: scale(1.1)!important;
}
.lift {
    position: relative;
    top: 0;
    transition: all .4s ease-in-out!important;
    -webkit-transition: all .4s ease-in-out!important;

    &:hover,
    &:focus {
        top: -5px;
    }
}
hr {
    width: 100%!important;
    border: none!important;
    color: @orange!important;
    background-color: @orange!important;
    height: 1px!important;
}
.centered {
    text-align: center;
}
.blue {
    color: @blue;
}
.orange {
    color: @orange;
}
.ltBlue {
    color: @ltBlue;
}
.green {
    color: @green;
}
.drkOrange {
    color: @drkOrange;

    &.marginLeft {
        margin-left: 10px;
    }
    &.marginRight {
        margin-right: 10px;
    }
}
.marginBoth {
    margin-left: 10px;
    margin-right: 10px;
}
.drkOrangeFill {
    fill: @drkOrange;
}
h1.introTitle {
    font-size: 50px;
    text-shadow: 0 2px 7px white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    i {
        color: @drkOrange;
        font-size: 35px;
        margin-right: 15px;
    }
}
.Index-page-scroll-indicator {
    i {
        font-size: 48px;
        height: 40px;
        font-size: 48px;
        color: @blue;
    }
}
.internalLink,
.Main-content .sqs-block-html a,
.hs-richtext a,
.image-caption a {
    position: relative;
    top: 0;
    color: @blue !important;
    padding-bottom: .05em;
    border-bottom-width: 1px!important;
    border-bottom-style: solid!important;
    border-bottom-color: @drkOrange!important;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -ms-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out!important;

    &:hover,
    &:focus {
        top: -5px;
        // color: @drkOrange;
        border-color: @blue!important;;
    }
}
.allBtns,
.button,
.sqs-editable-button,
.sqs-block-button-element,
.actions a,
.sqs-lightbox-meta a,
.hs_submit .actions .hs-button {
    font-size: 20px !important;
    font-family: oswald!important;
    font-weight: 600!important;
    font-style: normal!important;
    text-transform: uppercase!important;
    background-color: @blue!important;
    color: @white!important;
    padding: 10px 20px 12px!important;
    margin: 0 2px 2px 0!important;
    border-radius: 100px!important;
    border: 1px solid @drkOrange!important;
    box-shadow: 2px 2px 0 @drkOrange;
    outline: none!important;
    text-decoration: none!important;
    line-height: 1em !important;
    letter-spacing: .03em!important;
    text-align: center;
    transition: all .4s ease-in-out!important;
    cursor: pointer;
    opacity: 1!important;
    display: inline-block!important;

    &:hover,
    &:focus {
        background-color: @drkOrange!important;
        border-color: @blue!important;
        box-shadow: 2px 2px 0 @blue;
    }
    &.sqs-block-button-element--large,
    &.largeBtn {
        font-size: 30px !important;
        padding: 13px 27px 16px!important;
        margin: 0 3px 3px 0!important;
        background-color: @drkOrange!important;
        border: 3px solid @blue!important;
        box-shadow: 3px 3px 0 @blue;

        &:hover,
        &:focus {
            background-color: white!important;
            color: @blue!important;
            border-color: @drkOrange!important;
            box-shadow: 3px 3px 0 @drkOrange;
        }
    }
}
.btnWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    a.allBtns {
        margin: 0 8px 8px!important
    }
}
.contentWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1700px;
    margin: 0 auto;

    .fullWidth {
        width: 100%!important;
        padding: 0 20px;
    }
    .contentOuter {
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

        .contentInner {
            width: 100%;

            figure {
                max-width: 100%!important;

                .image-block-wrapper {
                    width: 100%;
                    max-width: 300px!important;
                    margin: 0 auto;
                }
            }
            img {
                border-radius: 5px;
            }
        }
    }
    .sqs-block {
        padding: 0!important;
        @media screen and (max-width: 640px) {
            padding: 0!important;
        }
    }
    &.stats {
        .contentOuter {
            .contentInner {
                width: 100%;
                max-width: 190px;
                min-width: 190px;
                position: relative;

                i {
                    font-size: 150px;
                    color: rgba(0,0,0, .05);
                }
                .statInfo {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;

                    p {
                        margin: 0;

                        &.stat {
                            font-size: 50px;
                            font-family: oswald;
                            font-weight: 600;
                            text-shadow: 2px 2px 0 black;
                            line-height: 1;
                        }
                        &:nth-child(2) {
                            color: @blue;
                            line-height: 1.2;
                        }
                    }
                }

            }
            @media only screen and (min-width: 641px) {
                width: 50%;
            }
            @media only screen and (min-width: 900px) {
                width: 33.3333%;
            }
            @media only screen and (min-width: 1300px) {
                width: 16.6666%;
            }
        }
    }
    &.threeWide {
        align-items: flex-start;
        margin: -20px;

        h3 {
            margin: 20px 0 0!important;
            border-bottom: 1px solid @drkOrange;
            padding-bottom: 10px;
        }
        .contentOuter {

            .contentInner {
                max-width: 400px;

                h4 {
                    margin: 0 0 10px;
                    @media only screen and (max-width: 640px) {
                        font-size: 22px!important;
                    }
                }
                p {
                    font-size: 15px;
                    line-height: 1.3;
                    margin-top: 0;
                }
                .sqs-block {
                    padding: 0!important;
                    @media screen and (max-width: 640px) {
                        padding-top: 0!important;
                        padding-bottom: 0!important;
                    }
                }
            }
            @media only screen and (min-width: 800px) {
                width: 33.3333%;
            }
        }
    }
    &.oneTwo {
        align-items: flex-start;
        .innerWrap {
            h3 {
                margin: 20px 0 5px!important;
                border-bottom: 1px solid @drkOrange;
                padding-bottom: 10px;
            }
            .contentInner {
                max-width: 400px;
            }
        }
        @media only screen and (min-width: 800px) {
            .innerWrap {
                &.oneThird {
                    width: 33.3333%;
                }
                &.twoThirds {
                    width: 66.6666%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: flex-start;

                    .contentOuter {
                        width: 50%;
                    }
                }
            }
        }
    }
    &.marginTopZero {
        margin-top: 20px!important;
    }
}
.timeline {
    position: relative;
    height: 300px;
    margin-bottom: 20px;
    
    .timelineSpine {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0,-50%);
        width: 100%;
        height: 15px;
        border-radius: 50px;
        background: @blue;
        pointer-events: none;
    }
    .timelineInner {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        height: 100%;
        
        .event {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            outline: none;
            pointer-events: none;
            
            > h4 {
                position: relative;
                padding: 2px 6px 5px 3px;
                border-radius: 5px;
                background-color: white;
                transition: all .4s ease-in-out!important;
                box-shadow: 2px 2px 2px rgba(0,0,0, .5), 0 0 4px transparent inset;
                cursor: pointer;
                pointer-events: auto;
            }
            .dateLine {
                width: 2px;
                height: calc(~"50% - 41.5px");
            }
            h4 {
                text-shadow: 1.5px 1.5px 0 black;
                color: orange;
                
                span {
                    text-transform: lowercase;
                }
            }
            .eventContent {
                opacity: 0;
                position: absolute;
                top: 50px;
                left: 50%;
                bottom: 50px;
                transform: translate(-50%,0);
                width: max-content;
                max-width: 98%;
                display: flex;
                align-items: center;
                gap: 20px;
                background: @bgOverlay;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 3px 3px 3px rgba(0,0,0,.5);
                transition: all .4s ease-in-out!important;
                pointer-events: none;
                
                .eventImg {
                    position: relative;
                    height: 100%!important;
                    aspect-ratio: 1 / 1!important;
                    width: 160px;
                    min-width: 160px;
                    border-radius: 5px;
                    overflow: hidden;
                    display: block;
                    
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%!important;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                div {
                    width: auto;
                    ul {
                        padding-left: 20px!important;
                        margin: 10px 0 0;
                        
                        li {
                            font-size: 15px;
                            white-space: wrap;
                            line-height: 1.4;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
            &:nth-child(even) {
                flex-direction: column-reverse;
            }
            &:nth-child(3n + 1) {
                border-color: @drkOrange;
                > h4 {
                    border: 2px solid @drkOrange;
                }
                h4 {
                    color: @drkOrange;
                }
                .dateLine {
                    background: @drkOrange;
                }
                .eventContent .eventImg {
                    box-shadow: 3px 3px 0 @drkOrange;
                }
            }
            &:nth-child(3n + 2) {
                border-color: @ltBlue;
                > h4 {
                    border: 2px solid @ltBlue;
                }
                h4 {
                    color: @ltBlue;
                }
                .dateLine {
                    background: @ltBlue;
                }
                .eventContent .eventImg {
                    box-shadow: 3px 3px 0 @ltBlue;
                }
            }
            &:nth-child(3n + 3) {
                border-color: @green;
                > h4 {
                    border: 2px solid @green;
                }
                h4 {
                    color: @green;
                }
                .dateLine {
                    background: @green;
                }
                .eventContent .eventImg {
                    box-shadow: 3px 3px 0 @green;
                }
            }
            &:hover,
            &:focus,
            &:focus-within {
                > h4 {
                    border-color: transparent;
                    // box-shadow: 2px 2px 2px transparent;
                    box-shadow: 2px 2px 2px transparent, 0 0 4px rgba(0,0,0, .5) inset;
                }
                .eventContent {
                    opacity: 1;
                }
            }
        }
    }
}
.Main {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 99%;
        left: 0;
        width: 100%;
        height: 50vh;
        background-image: linear-gradient(to top, white 5%, transparent);
    }
}
.Main-content {
    .sqs-html-content {
        h2 {
            position: relative;
            color: @blue;
            font-size: 30px;
            font-family: oswald;
            text-transform: uppercase;
            font-weight: 600;

            &::before,
            &::after {
                // content: "";
                position: relative;
                display: inline-block;
                background-image: url('../assets/star.png');
                background-size: contain;
                background-repeat: no-repeat;
                bottom: 1px;
                height: 23px;
                width: 23px;
            }
            &::before {
                margin-right: 7px;
            }
            &::after {
                margin-left: 7px;
            }
        }
    }
    .watermark {
        font-size: 400px;
        color: @blue;
        position: absolute;
        top: 0;
        // margin-top: -30px;
        left: 50%;
        transform: translate(-50%, 0);
        opacity: .05;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        &.fixed {
            position: fixed;
            top: 85px;
        }
    }
    @media only screen and (max-width: 500px) {
        .watermark {
            font-size: 250px;
        }
    }
    @media only screen and (min-width: 1000px) {
        .sqs-html-content {
            h2 {
                font-size: 40px;

                &::before,
                &::after {
                    width: 30px;
                    height: 30px;
                    bottom: 2px;
                }
                &::before {
                    margin-right: 8px;
                }
                &::after {
                    margin-left: 8px;
                }
            }
        }
    }
}
main .Index-page-content > div,
.Main-content > div {
    max-width: 1300px!important;
    margin: 0 auto!important;
    // position: relative;
    // z-index: 1;

    .col,
    .sqs-block {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    @media only screen and (min-width: 1950px) {
        max-width: 1500px!important;
    }
}
.sqs-frontend-overlay-editor-widget-host {
    .collapsible-body,
    .hide {
        display: block!important;
    }
}
.yui3-lightbox2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: fade(@blue, 80%);
    z-index: 99999;
    padding: 20px 30px 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .yui3-lightbox2-content {
        position: relative!important;
        top: 0!important;
        height: fit-content!important;
        width: fit-content;
        border-radius: 5px;
        background-color: white!important;
        box-shadow: 10px 10px 0 @drkOrange;
        padding: 40px 60px 35px;

        .sqs-lightbox-close {
            opacity: 1;
            top: 10px;
            right: 12px;

            &::before {
                font-weight: bold;
                font-size: 40px;
                color: @blue;
            }
            &:hover,
            &:focus {
                &::before {
                    color: @drkOrange;
                }
            }
        }
        .sqs-lightbox-previous,
        .sqs-lightbox-next {
            opacity: 1;

            &::before {
                font-weight: bold;
                font-size: 30px;
                color: @drkOrange;
            }
            &:hover,
            &:focus {
                &::before {
                    color: @blue;
                }
            }
        }
        .sqs-lightbox-slideshow {
            position: static;
            width: fit-content!important;
            height: fit-content;
            transform: none !important;
            overflow: visible;
            
            .sqs-lightbox-slide {
                position: static;
                width: fit-content!important;
                height: fit-content;
                // height: 100%!important;
                // width: 100%!important;
                display: none;
                
                .sqs-lightbox-padder {
                    position: static;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: fit-content!important;
                    width: fit-content!important;
                    // max-width: 700px!important;
                    
                    img {
                        position: static!important;
                        width: calc(~"100vw - 170px")!important;
                        height: auto!important;
                        display: block;
                        flex-grow: 2;
                        border-radius: 5px;
                        box-shadow: 2px 2px 7px rgba(0, 0, 0, .5);
                    }
                    img.portrait,
                    img[data-image-dimensions="800x1000"] {
                        max-width: 500px!important;
                    }
                    img.square {
                        max-width: 625px!important;
                    }
                    img.landscape,
                    img[data-image-dimensions="300x240"] {
                        max-width: 700px!important;
                    }
                    img.landscape.ybAssets {
                        max-width: 1000px!important;
                    }
                    a.allBtns {
                        margin-top: 18px!important;
                    }
                    .sqs-lightbox-meta {
                        position: static!important;
                        top: 0!important;
                        left: 0!important;
                        margin: 0;
                        width: 100%;
                        // height: 100%;
                        opacity: 1;
                        background: transparent;
                        padding: 0;
                        text-align: center;
                        color: black;
                        display: flex;
                        flex-direction: column;
                        pointer-events: none;
                        display: none;
                        
                        h1 {
                            color: @blue;
                            font-size: 35px;
                            margin: 0;
                            pointer-events: auto;
                            display: none;
                        }
                        p {
                            pointer-events: auto;
                            
                            a {
                                pointer-events: auto;
                            }
                            &:nth-child(3) {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: flex-end;
                                pointer-events: none;
                            }
                            mark {
                                color: white;
                            }
                        }
                    }
                }
                &.sqs-active-slide {
                    display: block;
                }
            }
        }
        .yui3-lightboxoverlay,
        .sqs-lightbox-meta-trigger {
            display: none;
        }
        @media only screen and (max-width: 500px) {
            padding: 35px 30px 30px;

            .sqs-lightbox-slideshow {
                .sqs-lightbox-slide {
                    .sqs-lightbox-padder {
                        img {
                            width: calc(~"100vw - 110px")!important;
                        }
                    }
                }
            }
        }
    }
}
@keyframes bounce {
    from {transform: translate3d(0, 0, 0);}

    to {transform: translate3d(0, 3vw, 0);}
}
.yui-popup-container-node {
    .sqs-slide {
        background-color: transparent!important;

        .sqs-slide-layer {
            position: fixed!important;
            display: flex!important;
            height: 100vh!important;
            // background-color: fade(@blue, 80%)!important;

            .sqs-slide-layer-content {
                max-width: fit-content!important;
                background-color: @blue!important;
                background-color: white!important;
                border-radius: 5px;
                overflow: hidden;
                box-shadow: 10px 10px 0 @drkOrange, 0 0 5px rgba(0, 0, 0, .2) !important;
                animation: bounce .7s;
                animation-direction: alternate;
                animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
                animation-iteration-count: infinite;
        
                * {
                    text-align: center!important;
                }
                a.sqs-popup-overlay-close {
                    top: 5px!important;
                    right: 5px!important;
                    padding: 0!important;
                    height: 35px!important;
                    width: 35px!important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    border: 2px solid transparent!important;
                    color: @blue;
                    
                    &::before {
                        font-size: 30px!important;
                        color: inherit!important;
                        line-height: 1px!important;
                    }
                    &:hover,
                    &:focus {
                        color: @drkOrange!important;
                        border-color: @blue!important;
                    }
                }
                .sqs-slice-group {
                    background-color: transparent!important;
        
                    .sqs-slice-body {
                        p:empty {
                            display: none;
                        }
                    }
                    .actions {
                        margin-top: 20px!important;

                        ul {
                            padding: 0!important;
                            li {
                                background: transparent!important;
                                margin: 0!important;
                            }
                        }
                        a {
                            font-size: 25px !important;
                            padding: 12px 23px 14px!important;
                            margin: 0 2px 2px 0!important;
                            background-color: @drkOrange!important;
                            border: 2px solid @blue!important;
                            box-shadow: 2px 2px 0 @blue!important;
                            white-space: nowrap;
                    
                            &:hover,
                            &:focus {
                                background-color: white!important;
                                color: @blue!important;
                                border-color: @drkOrange!important;
                                box-shadow: 2px 2px 0 @drkOrange!important;
                            }
                        }
                    }
                }
                @media only screen and (max-width: 600px) {
                    margin: 0 30px 80px 0!important;
                    
                    a.sqs-popup-overlay-close {
                        width: 30px!important;
                        height: 30px!important;
                    }
                    .sqs-slice-group.group-copy {
                        padding-right: 45px!important;
        
                        .actions a {
                            font-size: 20px !important;
                            padding: 10px 20px 12px!important;
                            border-width: 1px!important;
                            box-shadow: 2px 2px 0 @blue!important;
                            margin: 0 2px 2px 0!important;
                    
                            &:hover,
                            &:focus {
                                box-shadow: 2px 2px 0 @drkOrange!important;
                            }
                        }
                    }
                }
                &.pause {
                    animation: none!important;
                }
            }
        }
    }
}
.formWrapper {
    max-width: 1400px;
    margin: 0 auto;
    
    .formImgWrap {
        margin-bottom: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        .formImgInfo {
            max-width: max-content;
            margin: 0 auto 10px;
            padding: 0 10px;
            border: 1px solid @blue;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
            margin: 10px 0 20px !important;
            background-color: white!important;
            color: @blue!important;
            min-width: 200px;

            #copied {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: white;
                color: black;
                border-radius: 100px;
                opacity: 0;
                visibility: hidden;
                transition: all .3s ease-in-out;
                line-height: 44px;
            }
        }
        img {
            border-radius: 5px;
            display: block;
            margin: 0 auto;
            width: 200px;
            box-shadow: 5px 5px 0 @drkOrange;
        }
    }
    .hbspt-form {
        width: 100%;
        
        form {
            width: 100%;
            
            fieldset {
                max-width: 100%;
                margin-bottom: 10px!important;
                
                label {
                    color: black;
                    font-size: 14px;
                    
                    .hs-form-required {
                        color: darkred;
                    }
                }
                .input {
                    > input, > select, > textarea {
                        width: 100%!important;
                        padding: 5px 10px;
                        font-size: 16px;
                        min-height: 40px;
                        height: auto!important;
                        background-color: @bgOverlay;
                        border-top: 1px solid @blue!important;
                        border-left: 0!important;
                        border-right: 0!important;
                        border-bottom: 0!important;
                        border-radius: 0 0 5px 5px;
                    }
                }
                ul {
                    margin: 0!important;
                    padding-left: 15px!important;
                    list-style: none!important;
                        
                    label {
                        display: flex;
                    }
                    label {
                        input {
                            margin-right: 10px!important;
                        }
                        span {
                            margin: 0!important;
                        }
                    }
                    .hs-error-msg {
                        color: darkred;
                        line-height: 1.2;
                        margin-top: 8px;
                    }
                }
                .legal-consent-container {
                    .hs-richtext {
                        font-size: 14px;
                        line-height: 1.5;
                    }
                }
                &:nth-child(3n + 1) {
                    .input {
                        > input, > select, > textarea {
                            box-shadow: 0 3px 0 @drkOrange;
                        }
                    }
                }
                &:nth-child(3n + 2) {
                    .input {
                        > input, > select, > textarea {
                            box-shadow: 0 3px 0 @ltBlue;
                        }
                    }
                }
                &:nth-child(3n + 3) {
                    .input {
                        > input, > select, > textarea {
                            box-shadow: 0 3px 0 @green;
                        }
                    }
                }
                &.form-columns-3 {
                    > div {
                        width: 33.3333%!important
                    }
                }
            }
        }
    }
}
/************************************************** tables *********************************************************/
.twoColumn th,
.twoColumn td {
    width: 50%;
}
.threeColumn th,
.threeColumn td {
    width: 33.3333%;
}
.fourColumn th,
.fourColumn td {
    width: 25%;
}
.fiveColumn th,
.fiveColumn td {
    width: 20%;
}
th {
    background-color: @blue;
    color: #fff;
}
th, td {
    line-height: 1.2;
}
@media only screen and (max-width: 640px) {
    table {
        font-size: .5em!important;
    }
}
@media only screen and (min-width: 641px) and (max-width: 900px) {
    table {
        font-size: .7em!important;
    }
}
/************************************************** removing WORD BREAKS *********************************************************/
/************************************************** removing WORD BREAKS *********************************************************/
/************************************************** removing WORD BREAKS *********************************************************/
.noWrap {
    white-space: nowrap;
}
/************************************************** List Style *********************************************************/
ul.collapsible {
    padding: 0!important;
}
ul {
    padding-left: 40px!important;
}
ul.collapsible ul{
    list-style-type: disc;
}
/************************************************** FONTS *********************************************************/
@font-face {
    font-family: "gotham";
    src: url("../assets/Gotham-Book.otf");
    font-weight: normal;
}
@font-face {
    font-family: "gotham";
    src: url("../assets/Gotham-Medium.otf");
    font-weight: bold;
}